<app-create-client></app-create-client>
<div>
    <po-search #poSearch class="po-md-12" [p-items]="clientsTableView" [p-search-type]="'action'"
        [p-filter-select]="filterSelect" (p-filtered-items-change)="filtered($event)"></po-search>
</div>
<po-table [p-striped]="true" [p-items]="filteredItems" [p-actions-right]="true" [p-actions]="actions">
</po-table>




<po-loading-overlay [hidden]="isHideLoading"></po-loading-overlay>
<app-create-contract [openContract]="openContract" (refreshList)="refresh()"></app-create-contract>
<po-modal p-click-out="true" p-size="sm" p-title="Contrato - {{ detail?.contractNumber }}">
    <po-info class="po-sm-6" p-label="Data" [p-value]="formatDate(detail?.contractDate)"> </po-info>
    <po-info class="po-sm-6" p-label="Valor" [p-value]="formatCurrency(detail?.contractValue)"> </po-info>  
    <po-info class="po-sm-6" p-label="Status" [p-value]="parseString(detail?.status)"></po-info>
</po-modal>

<!-- id: number;
contractNumber: string;
contractDate: Date;
contractValue: number;
clientId: number;
status?: ContractStatus;
canceled: boolean; -->